
ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 8px 5px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
    list-style-type: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #f9f9f9;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li.checked {
    background:#A52A2A;
    color: #f9f9f9;
    text-decoration: line-through;
}

ul {
    margin: 0;
    padding: 0;
}

ul li:hover {
    background: #F08080;
}

.head_list{
    margin: auto;
    width: 40%;
}

.col-1{width:50%;margin: auto;}


.remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 8px 5px 8px;
}

.remove:hover {
    background-color: #f44336;
    color: white;
}


.edit:hover{
    background-color: #f44336;
    color: white;
}